<footer>
  <section>
    <h1>Models</h1>
    <ul>
      <li>
        <a href="#">Swift</a>
      </li>
      <li>
        <a href="#">Ciaz</a>
      </li>
      <li>
        <a href="#">Ertiga</a>
      </li>
      <li>
        <a href="#">Carry Pro</a>
      </li>
    </ul>
  </section>
  <section>
    <h1>After Sales</h1>
    <ul>
      <li>
        <a href="#">Service</a>
      </li>
      <li>
        <a href="#">Spare Parts</a>
      </li>
    </ul>
  </section>
  <section>
    <h1>Cooperate</h1>
    <ul>
      <li>
        <a href="#">About Us</a>
      </li>
      <li>
        <a href="#">Career</a>
      </li>
      <li>
        <a href="#">News</a>
      </li>
      <li>
        <a href="#">Press Release</a>
      </li>
      <li>
        <a href="#">FAQs</a>
      </li>
    </ul>
  </section>
  <section>
    <h1>Hotline Number</h1>
    <ul>
      <li>
        <a href="#">+95 9 77 100 5151</a>
      </li>
    </ul>
  </section>
  <section>
    <h1>Address</h1>
    <h2>Suzuki Myanmar Motor</h2>
    <p>
      #1701-4, 17th Floor, Sakura Tower, 339, Bogyoke Aung San Road, Kyauktada Township, Yangon,
      Myanmar
    </p>
    <h2>Suzuki Thilawa Motor</h2>
    <p>
      Lot No.1, Zone A, Thilawa Special Economic Zone, Thanlyin Township, Yangon, Myanmar
    </p>
  </section>
  <section>
    <img class="logo" src="assets/suzuki-myanmar-logo.png" alt="suzuki myanmar">

    <div class="socials">
      <img class="fb" src="assets/suzuki-myanmar-facebook.png" alt="fb">
      <img class="yt" src="assets/suzuki-myanmar-youtube.png" alt="yt">
    </div>

  </section>

  <div class="cpyright">
    <p>© 2022 Suzuki Myanmar Motor Co., Ltd. All Rights Reserved.</p>
  </div>
</footer>