header{
  padding-left: 100px;
  padding-right: 100px;
  position: relative;
  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul{
      list-style: none;
      display: flex;
      align-items: center;
      li{
        a{
          display: flex;
          align-items: center;
          text-decoration: none;
        }
        &:link{
          color: #000000;
        }
        &:not(:last-child){
          margin-right: 70px;
        }
      }
    }
    .nav--primary{
      .logo{
        width: 160px;
      }
      a:hover{
        color: #DE1339;
      }
    }
    .nav--secondary{
      li{
        display: flex;
        align-items: center;
        a{
          img{
            margin-left: 7px;
          }
          &:hover{
            color: #00368F;
          }
        }
        img{
          width: 27px;
        }
      }
      .search{
        &:hover{
          color: #00368F;
        }
        div{
          display: flex;
          img{
            margin-left: 7px;
          }
        }
        input{
          display: none;
        } 
      }
    }
  }
}
