<header class="header">
  <nav>
    <ul class="nav--primary">
      <li>
        <a href="">
          <img class="logo" src="/assets/suzuki-myanmar-logo.png" alt="suzuki logo" srcset="">
        </a>
      </li>
      <li><a href="">Models</a>

        <!-- <div class="mega-menu">
          <ul>
            <li>Passenger</li>
            <li><a href href=""><img src="/assets/suzuki-myanmar-swift-white.png" alt="Suzuki Swift">
              </a>
            </li>
          </ul>

          <ul>
            <li>Commercial</li>
            <li>
              <a href="">
                <img src="/assets/suzuki-myanmar-carry-pro.png" alt="Carry Pro">
              </a>
            </li>
          </ul>
        </div> -->

      </li>
      <li><a href="">After Sales</a></li>
      <li><a href="">Coporate</a></li>
    </ul>

    <ul class="nav--secondary">
      <li>
        <a href="">Global <img src="/assets/suzuki-global.png" alt="Global"></a>
      </li>
      <li class="search">
        <input type="text" placeholder="Search">
        <div>
          Search
          <img src="/assets/suzuki-myanmar-search-icon.svg" alt="">
        </div>
      </li>
      <li><a href="">En MM</a></li>
    </ul>
  </nav>
</header>