<app-header></app-header>
<!-- <app-testing></app-testing> -->
<!-- <app-info class="info"></app-info>
<app-info></app-info> -->


<!-- btn solid -->
<!-- <button class="btn solid">
  <span class="content">Test Drive</span>
  <span class="icon">
    <img src="assets/suzuki-myanmar-test-drive-white-float-icn.png" alt="icon" />
  </span>
</button> -->



<!-- <button class="btn solid solid--fade">Apply</button> -->


<!-- complete info right -->
<!-- <article class="info">

  <section class="img-info">
    <img src="/assets/suzuki-myanmar-service.png" alt="info photo">
  </section>

  <section class="service textbox white">
    <h1>Service</h1>
    <p>To be peace of mind quality assurance servicing, we Suzuki Myanmar Service Centers are currently using the
      latest
      technology analyzer, certified and competent technicians, genuine spare parts. We commit to your satisfaction
      and
      never overlook your needs.</p>

    <button class="btn white" style="background-color: black;">
      <span class="content">Learn More</span>
      <span class="icon">
        <img src="assets/plus-white.png" alt="icon" />
      </span>
    </button>

  </section>
</article> -->


<!-- complete info left -->
<!-- <article class="info left">

  <section class="img-info">
    <img src="/assets/suzuki-myanmar-spareparts.png" alt="info photo">
  </section>

  <section class="service textbox">
    <h1>SPARE PARTS</h1>
    <p>Suzuki recommends genuine parts and oil for periodic maintenance and the replacement of consumable parts can
      maintain your Suzuki in the highest level condition.</p>

    <button class="btn">
      <span class="content">Learn More</span>
      <span class="icon">
        <img src="assets/plus.png" alt="icon" />
      </span>
    </button>

  </section>
</article> -->

<!-- completed dealer info -->
<!-- <article class="dealer">
  <section class="textbox white">
    <h1>DEALER INFORMATION</h1>
    <p>In order to provide the best services, there are 55 Suzuki Showrooms that have been officially opened by Suzuki
      Myanmar Motor. Find the nearest dealer and contact our staff for more information about Suzuki Vehicles.</p>

    <button class="btn solid white">
      <span class="content">Find Dealer</span>
      <span class="icon">
        <img src="assets/suzuki-myanmar-dealer-black-icn.png" alt="icon" />
      </span>
    </button>

  </section>


  <section class="location-img">
    <img src="/assets/suzuki-myanmar-dealer.jpg" alt="info photo">
  </section>
</article> -->

<!-- completed purchase section -->
<!-- <article class="purchase">
  <section class="textbox white">
    <h1>HIRE PURCHASE</h1>
    <p>Find more details about the monthly installments plan from AYA bank and CB bank and own your favourite models.
    </p>

    <button class="btn solid white">
      <span class="content">Financial Simulator</span>
      <span class="icon">
        <img src="assets/suzuki-myanmar-hire-purchase-black-float-icn.png" alt="icon" />
      </span>
    </button>

  </section>

  <section class="purchase-img">
    <img src="/assets/suzuki-myanmar-ertiga-hire-purchase.png" alt="info photo">
  </section>
</article> -->

<!-- completed news section -->
<!-- <article class="news textbox">
  <h1>News</h1>
  <section class="articles">

    <div class="new">

      <div class="date">
        <span>FEB</span>
        <span>09</span>
        <span>2020</span>
      </div>
      <div class="preview">
        <img src="assets/suzuki-myanmar-news-support-jac-japi.png" alt="preview">
      </div>
      <div class="heading">
        <h3>Support Japan Academic Club (JAC) and Japan Association for the Promotion of Internationalization (JAPI)
        </h3>
        <a href="#">Read More
          <span>></span>
        </a>
      </div>

    </div>

    <div class="new">

      <div class="date">
        <span>NOV</span>
        <span>08</span>
        <span>2019</span>
      </div>
      <div class="preview">
        <img src="assets/suzuki-myanmar-donation-japan-myanmar-aung-san-vocational-training-institute.png"
          alt="preview">
      </div>
      <div class="heading">
        <h3>Donation of Japan-Myanmar Aung San Vocational Training Institute
        </h3>
        <a href="#">Read More
          <span>></span>
        </a>
      </div>

    </div>

  </section>

  <button class="btn fade">Read More</button>
</article> -->

<!-- completed newsletter -->
<!-- <article class="newsletter textbox">
  <h1>Subscribe newsletter</h1>
  <form action="#" method="post">
    <input type="text" name="subscribe" id="subscribe">

    <button class="btn solid solid--fade">Apply</button>
  </form>
</article> -->

<!-- <app-footer></app-footer> -->