<app-header></app-header>
<!-- <app-testing></app-testing> -->
<app-info></app-info>
<app-info></app-info>
<app-footer></app-footer>

<button class="btn">
  <span class="content">Learn More</span>
  <span class="icon">
    <img src="assets/plus.png" alt="icon" />
  </span>
</button>

<button class="btn btn-solid--black">
  <span class="content">Learn More</span>
  <span class="icon">
    <img src="assets/plus-white.png" alt="icon" />
  </span>
</button>

<button class="btn btn-outline--black">
  <span class="content">Learn More</span>
  <span class="icon">
    <img src="assets/plus-white.png" alt="icon" />
  </span>
</button>

<button class="btn fade-up black">
  <span>Read More</span>
</button>