<article>

  <section class="img-info">
    <img src="/assets/suzuki-myanmar-service.png" alt="info photo">
  </section>

  <section class="textbox black">
    <h1>Service</h1>
    <p>To be peace of mind quality assurance servicing, we Suzuki Myanmar Service Centers are currently using the latest
      technology analyzer, certified and competent technicians, genuine spare parts. We commit to your satisfaction and
      never overlook your needs.</p>

    <button>
      <span class="learn">Learn More</span>
      <span class="plus">+</span></button>
  </section>
</article>